body {
	margin:0;
	padding:0;
}

ul {
	padding-top:15px;
	padding-bottom:15px;
	padding-left: 0;
	padding-right:0;
}

h1 {
	font-size:20px;
	margin:0;
	padding:25px;
}

nav {
	background-color: black;
	padding:;
	text-align:center ;
}

li {
	background-color: grey;
	display:horizontal;
	margin:1%;
	padding:5px;
}

span {
	background-color: ;
	text-align: center;
}

.box {
	background-color: yellow;
	text-align:center ;
	display: inline-block;
	width:30%;
}

 img {
	width:100%;
	object-fit:cover;

}

 div p {
 	background-color: white;
 	border:3px solid green;
 	padding:15px;
}

p::first-letter {
	color:green;
	font-size:40px;
}

body {
	text-align: center;
}
